<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="styles.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<!--hola mundo, este es un indice-->

<h1>titulo tamaño 1</h1>
<h2>titulo tamaño 2</h2>
<h3>titulo tamaño 3</h3>
<h4>titulo tamaño 4</h4>
<h5>titulo tamaño 5</h5>
<h6>titulo tamaño 6</h6>

<p>hola mundo, este es un indice</p>
<!--parrafos cortos-->
<span>textos Cortos</span>

<a href="https://lms.misiontic2022udea.com" >Esto es un enlace a la umd de la U</a>

<form>
    <input type="text"/>
    <input type="number">
    <input type="date">
    <input type="file">
    <input placeholder="Este es un mensaje de ayuda" type="text"/>
    <button class="boton-ejemplo"> esto es un boton</button>
</form>

</body>
</html>